.list-group {
    min-width: 200px;
    background-color: grey;
    min-height: 100vh;
}

.list-group-item{
  margin:10px;
}

#barresponse{
  width: 100%;
}

#sidebar div a {
  background-color: grey;
  color: white;
}
#sidebar div div a{
  background-color: black;

}

img{
  border-radius: 50%;
}

#mainStyle {
  background: white;
  padding: 20px;
  border-radius: 5px;
}

#clientInfo h2{
  font-size: 1.125em;
}
